@page "/users/index"
@model RSOTransactionMicroServiceAPI.Pages.IndexUIModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Uporabniki";
    ViewBag.Header = "Uporabniki";
}


<div style="padding: 20pt 70pt 0 70pt; width:80vw;">
    
    <h1 style="color: white; margin-bottom: 20pt;">@ViewBag.Header</h1>

    <div style="background-color:rgb(65, 65, 75); border-radius: .6rem; padding:10pt;">
        <table width="99%" id="usersTable" style="color:white; border-spacing: 80px 90px;">
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>E-mail</th>
                <th>Naslov</th>
                <th>Posta</th>
                <th>Mesto</th>
                <th>Registriran</th>
            </tr>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $.ajax({
            url: '/users/api',
            method: 'GET',
            success: function (users) {
                console.log(users);
                var usersTable = $('#usersTable');

                users.forEach(function (user) {
                    var userRow = `
                                <tr>
                                    <td>${user.userId}</td>
                                    <td><a href="/users/show/${user.userId}" style="text-decoration: none;">${user.userName}</a></td>
                                    <td>${user.userEmail}</td>
                                    <td>${user.userAddress}</td>
                                    <td>${user.userZipCode}</td>
                                    <td>${user.userCity}</td>
                                    <td>${user.registeredOn}</td>
                                </tr>
                            `;
                    usersTable.append(userRow);
                });
            },
            error: function () {
                var errorElement = $('<div>').text('Failed to fetch users.');
                usersTable.append(errorElement);
                }
            });
    });
</script>