@page "/users/show/{UserId:int}"
@model RSOUserMicroService.Pages.UserUIModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "UserUI";
}
<div style="padding: 20pt 70pt 0 70pt;">

    <div id="form" hidden>
         <h2 style="color: white; margin: 10pt;">Uredi podatke</h2>
        <div style="padding: 0 50pt 0 50pt; display: flex;">


                <div style="width: 20vw;">
                    <label for="username" class="form-label" style="color: rgb(231, 231, 231);">Username</label>
                    <input id="username" type="text" class="form-control" id="username">

                    <label for="email" class="form-label" style="color: rgb(231, 231, 231);">Email</label>
                    <input id="email" type="email" class="form-control" id="email">

                    <label for="address" class="form-label" style="color: rgb(231, 231, 231);">Address</label>
                    <input id="address" type="text" class="form-control" id="address">

                    <label for="zipcode" class="form-label" style="color: rgb(231, 231, 231);">Zipcode</label>
                    <input id="zipcode" type="text" class="form-control" id="zipcode">

                    <label for="exampleInputPassword1" class="form-label" style="color: rgb(231, 231, 231);">Password</label>
                    <input id="exampleInputPassword1" type="password" class="form-control" id="exampleInputPassword1">
                </div>


            <div style="padding: 23pt 30pt 0 30pt; display: flex; flex-direction: column;">
                <button id="updateUser" class="btn btn-primary" onclick="update()" style="margin-bottom: 25pt;">Update</button>
                <button id="deleteUser" class="btn btn-danger" onclick="deleteUser()" style="margin-bottom: 25pt;">Delete</button>
                <button id="logout" class="btn btn-secondary" onclick="logOut()">Log out</button>
            </div>

        </div>
    </div>

    <div id="show" hidden>
        <h1 id="usernameT" style="color: white;"></h1>
        <h3 id="emailT" style="color: white;"></h3>
        <h3 id="addressT" style="color: white;"></h3>
        <h3 id="zipcodeT" style="color: white;"></h3>
    </div>

  
    <h2 id="adslabel" style="color: white; margin: 20pt 0 10pt 0;"></h2>
    <div id="adsContainer" style="padding: 0 30pt 0 30pt; width: 60vw;"></div>
    
    <script>
        var userID;
        var regusteredUserID;

        $(document).ready(function () {
            console.log("url id:", @Model.UserId);
            userID = @Model.UserId;

            const tokenString = localStorage.getItem('decodedToken');
            const token = JSON.parse(tokenString);
            if (token == null || token == undefined) {
                window.location.href = "/users/login";
            } else {
                $("#email").val(token.email);
                $("#zipcode").val(token.UserZipCode);
                $("#address").val(token.UserAddress);

                regusteredUserID = token.sub;
                getUserData(userID);
            }
        });

        function getUserData(userId) {
            $.ajax({
                url: '/users/api/' + userId,
                method: 'GET',
                success: function (user) {
                    console.log(user);


                    if (user.id == regusteredUserID) {

                        document.getElementById("form").hidden = false;
                        document.getElementById("show").hidden = true;

                        $('#username').val(user.userName);
                        $('#email').val(user.userEmail);
                        $('#address').val(user.userLocation);
                        $('#zipcode').val(user.userZipcode);

                    } else {
                        document.getElementById("form").hidden = true;
                        document.getElementById("show").hidden = false;

                        $('#usernameT').text(user.userName);
                        $('#emailT').text("Email: " + user.userEmail);
                        $('#addressT').text("Address: " + user.userLocation);
                        $('#zipcodeT').text("Zipcode: " + user.userZipcode);
                    }
                    

                    // if there is a user.ads property
                    if (user.ads) {
                        var adsContainer = $('#adsContainer');
                        adsContainer.empty();

                        user.ads.forEach(function (ad) {
                            var adElement = `
                                         <div style="background-color: #fff;
                                                 border-radius: 5px;
                                                 box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
                                                 margin: 15px 0;
                                                 padding: 15px;
                                                 position: relative;
                                                 overflow: hidden;">
                                                     <h3><a href="http://20.73.26.56/ads/show/${ad.id}" style="text-decoration: none; color:black;">${ad.thing}</a></h3>
                                             <p style="margin: 0;">Cena: ${ad.price}&euro;</p>
                                             <p style="margin: 0;">Kategorija: ${ad.category}</p>
                                             <p>Objavljeno: ${ad.postTime}</p>
                                         </div>
                                     `;
                            adsContainer.append(adElement);
                        });
                        $('#adslabel').text("Oglasi uporabnika " + user.userName);
                    } else {
                        $('#adslabel').text("Uporabnik " + user.userName + " nima objavljenih oglasov.");
                    }

                },
                error: function () {
                    var errorElement = $('<div>').text('Failed to fetch user.');
                    $('#username').empty();
                    $('#email').empty();
                    $('#address').empty();
                    $('#zipcode').empty();
                    $('#username').append(errorElement);
                }
            });
        }

        function update() {
            var username = $('#username').val();
            var email = $('#email').val();
            var address = $('#address').val();
            var zipcode = $('#zipcode').val();
            console.log(zipcode);
            var password = $('#exampleInputPassword1').val();
            const tokenString = localStorage.getItem('decodedToken');
            const token = JSON.parse(tokenString);
            var user = {
                "UserId": token.sub,
                "UserName": username,
                "UserEmail": email,
                "UserPassword": password,
                "UserZipCode": zipcode,
                "UserAddress": address,
            };
            $.ajax({
                url: '/users/api/update',
                method: 'PATCH',
                contentType: 'application/json',
                data: JSON.stringify(user),
                success: function (data) {
                    console.log(data);
                    // Overwrite JWT token

                    localStorage.setItem('jwtToken', data);
                    const decodedToken = decodeJwt(data);
                    localStorage.setItem('decodedToken', JSON.stringify(decodedToken));
                    window.location.href = "/users/show/" + token.sub;
                },
            });
        }
        
        function deleteUser (){
            const tokenString = localStorage.getItem('decodedToken');
            const token = JSON.parse(tokenString);
            $.ajax({
                url: '/users/api/' + token.sub,
                method: 'DELETE',
                success: function (data) {
                    console.log(data);
                    localStorage.removeItem('jwtToken');
                    localStorage.removeItem('decodedToken');
                    window.location.href = "/users/register";
                },
            });
        }
    </script>

</div>