@page "/UserUI"
@model RSOUserMicroService.Pages.UserUIModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "UserUI";
}
<div style="padding: 20pt 70pt 0 70pt;">

    <label for="userId" style="color: white;">User ID:</label>
    <input type="text" id="userId" />
    <button id="getUser" class="btn btn-primary">Get User</button>

    <h1 id="username" style="color: white;"></h1>
    <h3 id="email" style="color: white;"></h3>
    <h3 id="address" style="color: white;"></h3>
    <h3 id="zipcode" style="color: white;"></h3>
    <script>
        $(document).ready(function () {
            $('#getUser').click(function () {
                var userId = $('#userId').val();
                $.ajax({
                    url: '/api/user/' + userId,
                    method: 'GET',
                    success: function (user) {
                        console.log(user);
                        // value of ad.thing to the element with id thing
                        $('#username').text(user.userName);
                        $('#email').text("Email: " + user.userEmail);
                        $('#address').text("Address: " + user.userLocation);

                    },
                    error: function () {
                        var errorElement = $('<div>').text('Failed to fetch user.');
                        $('#username').empty();
                        $('#email').empty();
                        $('#address').empty();
                        $('#zipcode').empty();
                        $('#username').append(errorElement);
                    }
                });
            });
        });
    </script>

</div>