@{
    ViewData["Title"] = "User";
}

<div style="padding: 20pt 70pt 0 70pt;">
    <h1 id="username" style="color: white;"></h1>
    <h3 id="email" style="color: white;"></h3>
    <h3 id="address" style="color: white;"></h3>
    <h3 id="zipcode" style="color: white;"></h3>
</div>

<script>
   
</script>